.Profile{
    width: 49%;
    /* height: 700px; */
    float: left;
}

.DocsAndLinks,
.Announcemnets{
    width: 90%;  
    margin: 20px;  
    font-size: x-large;
    text-align: left;
    float: left;
    border: 1px solid black;
}
