.profile{
    width: 50%;
    float: left;
    text-align: left;
    font-size: xx-large;
    margin-top: 25px;
}

.leave{
    /* border: 1px solid black; */
    /* width: %; */
    height: 90%;
    float: left;
    padding-left: 1%;
    background-color: #7ca0b4;
    margin-top: 20px;
}