.cal{
    width: 30%;
    /* border: 1px solid orange; */
    float: left;
    /* background-color: blue; */
}

.Birthdays,
.Holidays{
    width: 80%;
    margin: 20px;  
    font-size: x-large;
    text-align: left;
    float: right;
    border: 1px solid black;
    margin: 2%;
}
