.employees{
    width: 20%;
    height: 700px;
    /* border: 1px solid black; */
    float: right;
    /* background-color: blue; */
}


.users{
    width: 80%;
    height:15%;
    float: right;
    padding-left: 3%;
    background-color: #7ca0b4;
    margin: 5%;
}

.Joinees{
    width: 85%;
    height: 100%;  
    margin: 20px;  
    font-size: x-large;
    text-align: left;
    float: right;
    border: 1px solid black;
    margin: 2%;
}